MVCCapas/Datos/Connected Services/ReferenciaWCF/SWCFAlumno.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51950/SWCFAlumno.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAlumno" />
  <xs:element name="consultar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFAlumno" minOccurs="0" name="consultarResult" nillable="true" type="q1:ArrayOfDCAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarUno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarUnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFAlumno" minOccurs="0" name="consultarUnoResult" nillable="true" type="q2:DCAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="crearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFAlumno" minOccurs="0" name="crearResult" nillable="true" type="q3:DCAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFAlumno" minOccurs="0" name="dCAlumno" nillable="true" type="q4:DCAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFAlumno" minOccurs="0" name="editarResult" nillable="true" type="q5:DCAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFAlumno" minOccurs="0" name="eliminarResult" nillable="true" type="q6:DCAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>