MVCCapas/Datos/Connected Services/ReferenciaWCF/SWCFAlumno.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SWCFAlumno" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51950/SWCFAlumno.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51950/SWCFAlumno.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51950/SWCFAlumno.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAlumno" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFAlumno_consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:consultar" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumno_consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumno_consultarUno_InputMessage">
    <wsdl:part name="parameters" element="tns:consultarUno" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumno_consultarUno_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarUnoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumno_crear_InputMessage">
    <wsdl:part name="parameters" element="tns:crear" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumno_crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumno_editar_InputMessage">
    <wsdl:part name="parameters" element="tns:editar" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumno_editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:editarResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumno_eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminar" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumno_eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFAlumno">
    <wsdl:operation name="consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFAlumno/consultar" message="tns:IWCFAlumno_consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFAlumno/consultarResponse" message="tns:IWCFAlumno_consultar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarUno">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFAlumno/consultarUno" message="tns:IWCFAlumno_consultarUno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFAlumno/consultarUnoResponse" message="tns:IWCFAlumno_consultarUno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crear">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFAlumno/crear" message="tns:IWCFAlumno_crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFAlumno/crearResponse" message="tns:IWCFAlumno_crear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFAlumno/editar" message="tns:IWCFAlumno_editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFAlumno/editarResponse" message="tns:IWCFAlumno_editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFAlumno/eliminar" message="tns:IWCFAlumno_eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFAlumno/eliminarResponse" message="tns:IWCFAlumno_eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFAlumno" type="tns:IWCFAlumno">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultar">
      <soap:operation soapAction="http://tempuri.org/IWCFAlumno/consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarUno">
      <soap:operation soapAction="http://tempuri.org/IWCFAlumno/consultarUno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crear">
      <soap:operation soapAction="http://tempuri.org/IWCFAlumno/crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editar">
      <soap:operation soapAction="http://tempuri.org/IWCFAlumno/editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap:operation soapAction="http://tempuri.org/IWCFAlumno/eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWCFAlumno">
    <wsdl:port name="BasicHttpBinding_IWCFAlumno" binding="tns:BasicHttpBinding_IWCFAlumno">
      <soap:address location="http://localhost:51950/SWCFAlumno.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>